*{
    margin: 0;
    padding: 0;
    
    
}
.Heading2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 150%;
}

.Heading4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Reg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.App{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;

    color: white;
    display: flexbox;
    
    gap: 3rem;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-image: url(HomeBackground.jpg);
    overflow: scroll;
}

.infoCar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
    display: flex;
    position: relative;
    align-items: left;
    text-align: left;
}






.Welcome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

}


