*{
    margin: 0;
    padding: 0;
    
    
}
.Heading{
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.Heading1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 150%;
}

Nav{
    width: 100%;
}



.Page2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    font-family: Verdana;
    color: white;
    display: flexbox;
    align-items: center;
    
    gap: 3rem;
    padding: 1rem;
    width: 100%;
    height: 100vh;

}

img {
    height: auto;
    max-width: 100%; 
    /* margin: 20px 0px; */
}

.PageInfoAll{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: 0.1rem solid white;
    box-shadow: 0 0 20px #9ecaed;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    
    
    /* justify-content: space-between; */
}

.carInfoAll{
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.Qoute1{
    width: 45%;
    color: white;
    font-size: 200%;
    font-family: Brush Script MT, Brush Script Std, cursive;;
    animation: fadeIn 5s;
    margin-top: 25%;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  

.Information{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    gap: 3rem;
    padding: 1rem;
    margin-left: 10%;

    
}

.Input{
    background-color: #333;
    color: lightgray;
}

.premiumplan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgray;
    gap: 3rem;
    padding: 1rem;
    margin-left: 10%;
    
    
}

.Welcome{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

}

.button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-left: 10%;
    display: flex;
    color: lightgray;
    text-decoration: none;
     
}

.button1, .button2, .button3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
    padding: 0.3%;
    color: lightgray;
    background-color: #333;
    border-radius: 12px;
    border-style: solid;
    
}

button:hover {
    background-color: #777;
}




.App a{
    color: inherit;
    text-decoration: none;
    
    
}
