*{
    margin: 0;
    padding: 0;
    
    
}



.App{
    background-size: cover;
    position: relative;
    color: white;
    gap: 3rem;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-image: url(HomeBackground.jpg);
    padding: 5%;
    background-size: cover;
}

.App a{
    color: inherit;
    text-decoration: none; 
}

.App a:hover {
    background-color: #777;
}

.line-1{
    position: relative;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 300%;
    border-right: 2px solid;
    overflow: hidden;
    animation: typewriter 6s;
      
}


@keyframes typewriter{
  from{width: 0rem;}
  to{width: 40rem;}
}



