*{
    margin: 0;
    padding: 0;
    
    
}
.Heading{
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.Heading1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 150%;
}

Nav{
    width: 100%;
}



.Page{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    font-family: Verdana;
    color: lightgray;
    display: flexbox;
    align-items: center;
    
    gap: 3rem;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-image: url(HomeBackground.jpg);
    overflow: scroll;
}



.Information{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgray;
    gap: 3rem;
    padding: 1rem;
    margin-left: 10%;

    
}

.Input{
    background-color: #333;
    color: lightgray;
}

.premiumplan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgray;
    gap: 3rem;
    padding: 1rem;
    margin-left: 10%;
    
    
}

.Welcome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

}

.button{
    margin-left: 10%;
    display: flex;
    color: lightgray;
    text-decoration: none;
     
}

.button1, .button2, .button3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
    padding: 0.3%;
    color: lightgray;
    background-color: #333;
    border-radius: 12px;
    border-style: solid;
    
}

button:hover {
    background-color: #777;
}




.App a{
    color: inherit;
    text-decoration: none;
    
    
}
