*{
    margin: 0;
    padding: 0;
    
    
}





.Appp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 60%;  
    width: fit-content;

}


button{
    
    padding: 0.4%;
    color: white;
    background-color: #333;
    border-radius: 4px;
    border-style: solid;
    
}

.Appp button:hover {
    background-color: #777;
}

.link{
    background-color: #333;
    border-radius: 4px;
    padding: 0.4%;
}



